/* Pré Formatação */
body{
    margin: 0;
    font: 1em normal 'Amiri', serif;
}

.alinhar_centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: 'Righteous', cursive;
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.titulo:before, .titulo:after{
    content: '';
    width: 100px;
    height: 3px;
    margin: 10px auto;
    background-color: currentColor;
    display: block;
}

.sub_titulo{
    font-family: 'Righteous', cursive;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.sub_titulo:before, .sub_titulo:after{
    content: '';
    width: 60px;
    height: 3px;
    margin: 10px auto;
    background-color: currentColor;
    display: block;
}

.btn{
    width: 220px;
    height: 50px;
    font-family: 'Righteous', cursive;
    color: #fff;
    background: url('../img/efeito_btn_branco.svg') center no-repeat;
    background-size: cover;
    background-color: #5AC4FF;
}

.btn a{
    width: 100%;
    height: 100%;
    padding-top: 12.5px;
    display: block;
}

.rosa{
    background-color: #E755F0;
}

a{
    cursor: pointer;
}

/* Cabeçalho */

header{
    width: 100vw;
    height: 80px;
    background-color: rgba(190, 223, 238, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
}

.menu_navegacao ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_navegacao ul li{
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 25px;
    display: inline-block;
}

.menu_navegacao ul li:hover{
    text-decoration: underline;
    color: #F8C0FF;
}

/* Introdução Home*/

.intro_home{
    margin-top: 80px;
    max-width: 100vw;
    height: 380px;
    background: url('../img/Bg-introdução.jpg') center no-repeat;
    background-size: cover;
}

.intro_home .container{
    height: 100%;
}

.intro_home .container>div:nth-child(1){
    height: 100%;
    top: 30px;
}

.apresentacao_intro{
    height: 220px;
    margin-top: 50px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quem_sou{
    max-width: 100vw;
    height: 1020px;
}

.quem_sou>.container{
    height: 900px;
    flex-direction: column;
}

.quem_sou .infos{
    margin-top: 7px;
    height: 370px;
    align-items: flex-end;
}

.linhas{
    position: absolute;
    top: 298px;
}

.informacao{
    height: 280px;
    background-color: rgba(190, 223, 238, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacao_central{
    height: 100%;
    background-color: rgba(190, 223, 238, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_info{
    width: 230px;
    height: 150px;
    margin-top: 10px;
}

.texto_info_central{
    width: 230px;
    height: 240px;
    margin-top: 10px;
}